<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<servlet>
	<servlet-name>DisplayTrains</servlet-name>
	<servlet-class>test.DisplayTrains</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>DisplayTrains</servlet-name>
	<url-pattern>/DisPlayTrain</url-pattern>
	
</servlet-mapping>

<welcome-file-list>
	<welcome-file>DisTrain.html</welcome-file>
</welcome-file-list>
</web-app>


